/E-Workshop1/E-Workshop1/Workshop1/build/
/E-Workshop1/E-Workshop1/Workshop1/dist/
/E-Workshop1/E-Workshop1/Workshop1/nbproject/private/
/Workshop1/dist/
/Workshop2/Workshop2/nbproject/private/
/Workshop2/Workshop2/build/
/Workshop2/WorkShop2-Demo-1/build/
/Workshop2/WorkShop2-Demo-1/nbproject/private/
/Workshop1 - Copy/build/
/Workshop1 - Copy/dist/
/Workshop1 - Copy/nbproject/private/
/Workshop2-Demo/Workshop2/nbproject/private/
/Workshop2-Demo/Workshop2/build/
/Workshop2-Demo/Workshop2/dist/
